NEIS_OPEN_API_KEY=replace_me
SCHOOL_INFO_OPEN_API_KEY=replace_me
KAKAO_REST_API_KEY=replace_me
KAKAO_JS_KEY=replace_me
KAKAO_NATIVE_APP_KEY=replace_me
KAKAO_ADMIN_KEY=replace_me
SUPABASE_PROJECT_URL=replace_me
SUPABASE_PUBLISHABLE_KEY=replace_me
SUPABASE_DIRECT_CONNECTION_KEY=replace_me
ADMIN_EMAILS=admin@example.com
