NEIS_OPEN_API_KEY=replace_me
SCHOOL_INFO_OPEN_API_KEY=replace_me
KAKAO_REST_API_KEY=replace_me
KAKAO_JS_KEY=replace_me
NEXT_PUBLIC_KAKAO_JS_KEY=replace_me
KAKAO_NATIVE_APP_KEY=replace_me
KAKAO_ADMIN_KEY=replace_me
SUPABASE_DATABASE_URL=replace_me
SUPABASE_PROJECT_URL=replace_me
SUPABASE_PUBLISHABLE_KEY=replace_me
NEXT_PUBLIC_KAKAO_JS_KEY=$KAKAO_JS_KEY
NEXT_PUBLIC_SUPABASE_PROJECT_URL=$SUPABASE_PROJECT_URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=$SUPABASE_PUBLISHABLE_KEY
